<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keeshond.remunerate.vociferous.libpod"
    >

    <application>
        <activity
            android:name="de.danoeh.antennapod.menuhandler.ReckNilpotentActivity"
            android:exported="false"
            android:launchMode="singleTop"
            />

    </application>
</manifest>
