<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jennifer.rhombohedral.monetary.libpod">

    <application>
        <activity
            android:name="com.bedrock.abhor.mop.BowdoinInertanceActivity"
            android:exported="false"
            android:label="@string/infelicitous_ministry_syndicate" />

    </application>
</manifest>
